body {
    background-image: url("../images/elephant.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

span{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    color:gold;
    font-size: 70px;
}

#timer {
    color: blue;
}

/* This is the card container */
.cardContainer {
    margin: 48px auto;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

/* To style the tiles */
.card {
    background: cornsilk;
    border: 2px rgb(31, 46, 8) solid;
    cursor: pointer;
    height: 100px;
    width: 120px;
}

.card:hover {
    box-shadow: inset 0px 0px 0px 1px red;
    box-sizing: border-box;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: orange;
}

.yellow {
    background-color: yellowgreen;
}

.teal {
    background-color: teal;
}

.grey {
    background-color: grey;
}

.purple {
    background-color: purple;
}

.color-hidden {
    background-color: lightgrey;
}

#reset-btn {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: black;
    border-radius: 4px;
    cursor: pointer;
}

#reset-btn:hover {
    background-color: #d32f2f;
}

